.container
  .row(style="font-size: 120%")
    .col-md-6(style="border: 1px solid")
      %h2 Action Items
      %ul
        %li
          %i.fa.fa-check(aria-hidden="true")
          Buy Ticket
        %li
          %i.fa.fa-exclamation-triangle(aria-hidden="true")
          = link_to "Reserve a Seat", "#"

    .col-md-6(style="border: 1px solid;")
      %h2 Happening Soon
      %ul
        %li
          Tournament Registration
