@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

body {
  padding-top: 50px;
}

.error-message {
  @extend .bg-danger;
  margin-top: 1em;
}

ul.navbar-nav {
  float: right;
}



/* TODO - Move common stuff into single stylesheet, or something */
a.logo {
  @extend .navbar-brand;

  img {
    margin-left: -10px;
    margin-top: -10px;
    height: 40px;
    display: inline;
  }

  @media(max-width:768px) {
    img {
      margin-left: -5px;
      margin-top: -5px;
      height: 30px;
    }
  }
}
