@import "normalize-rails";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

body { 
	padding-top: 70px; 
}

.header {
  a.logo {
    @extend .navbar-brand;

    img {
      height: 20px;
    }
  }
}

nav {
  @extend .navbar, .navbar-default, .navbar-fixed-top;

  .header {
    @extend .navbar-header;
  }

  ul {
    @extend .nav, .navbar-nav, .navbar-right;
  }

  a.brand {
    @extend .navbar-brand;
  }
}

a.button {
  @extend .btn, .btn-default, .btn-lg;
}

.next-event {
  @extend .container, .text-center;

  .info {
    @extend .row, .col-lg-12;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;

    margin-bottom: 75%;

    @media(max-width:768px) {
      margin-bottom: 100%;
    }

    @media(max-width:420px) {
      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
      }
    }

    @media(max-width:360px) {
      h2 {
        font-size: 16px;
      }

      h3 {
        font-size: 14px;
      }
    }
  }
}

footer {
  @extend .container;
  
  .social-links {
    @extend .row, .col-lg-12, .text-center;

    a {
      @extend a.button; 
    }

    @media(max-width:1199px) {
      margin-top: 15px;
    }

    @media(max-width:767px) {
      li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}
