%a(name="about")
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Pittsburgh LAN Coalition
          %h3 something something video games
          %hr(class="intro-divider")
