%a(name="next-event")
.next-event
  .info
    %h1 Iron Storm 99 
    %h2 
      %span May 10th, 2022 
      &mdash; 
      %span May 13th, 2022 
    %h3 Monroeville Convention Center
    %h4
      %a.button(href="#")
        %i.fa.fa-ticket(aria-hidden="true")
        %span Reserve Your Seat 
