%a(name="venue")
.venue
  .info
    %h1 Venue

    %p
      Something about the Monroeville Convention Center.

    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna
      metus, ultricies id venenatis ut, placerat vitae lorem. In consequat
      condimentum sodales. Suspendisse aliquet, libero nec rutrum vehicula,
      mi metus laoreet tellus, quis consequat diam leo vitae tortor.
      Curabitur venenatis odio suscipit, tempus ex vel, blandit felis. 
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna
      metus, ultricies id venenatis ut, placerat vitae lorem. In consequat
      condimentum sodales. Suspendisse aliquet, libero nec rutrum vehicula,
      mi metus laoreet tellus, quis consequat diam leo vitae tortor.
      Curabitur venenatis odio suscipit, tempus ex vel, blandit felis.
    
    = image_tag "gmap-example.jpg", style: "width: 100%"
